{
  "presets": [
    [
      "env", {
        "targets": { "browsers": "> 5%" },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "import-glob",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-remove-strict-mode",
    ["transform-imports", {
        "vuetify":{
           "transform": "vuetify/es5/components/${member}",
           "preventFullImport": true
        }
    }]
  ]
}
