{
  "presets": [
    [
      "env",
      {
        "targets": { "browsers": "> 5%" }
      }
    ]
  ],
  "plugins": [
    "import-glob",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-remove-strict-mode"
  ]
}
