/** Stylus Styles */
@require '../../node_modules/vuetify/src/stylus/settings/_colors'
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

$body-font-family := 'Roboto', 'Noto Sans TC', sans-serif
$theme := {
  primary: $teal.lighten-1
  accent: $orange.accent-1
  secondary: $brown.darken-4
  info: $blue.lighten-1
  warning: $orange.darken-1
  error: $red.darken-4
  success: $teal.darken-1
}

@import '../../node_modules/vuetify/src/stylus/main'

.application.application--dark h
  for i in (1..6)
    &{i}
      color: inherit

td:after, td>span:after
  padding-left: .3rem
  color: $grey.lighten-1
  font-size: smaller

.link
  cursor: pointer

.v-center
  display: flex
  align-content: center
  align-items: center


.slide-y-enter-active, .slide-y-leave-active {
  transition: all .4s;
}
.slide-y-enter, .slide-y-leave-to {
  opacity: 0;
  transform: translateY(30px);
}