/** Stylus Styles */
@import 'assets/css/NotoSansTC.css'

$blue := {
  "lighten-1":  #42A5F5,
  "accent-2":   #448AFF,
  "base":       #2196F3,
}
$grey := {
  "lighten-1":  #bdbdbd,
  "darken-3":   #424242,
}
$amber := {
  "base":       #ffc107,
}
$red := {
  "accent-2":   #FF5252,
}
$green := {
  "base":       #4CAF50,
}
$body-font-family := 'Roboto', 'Noto Sans TC', sans-serif
$theme := {
  primary: $blue.lighten-1
  accent: $blue.accent-2
  secondary: $grey.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.accent-2
  success: $green.base
}

@import '../../node_modules/vuetify/src/stylus/main'

.application.application--dark h
  for i in (1..6)
    &{i}
      color: inherit

td:after, td span:after
  padding-left: .3rem
  color: $grey.lighten-1
  font-size: smaller

.link
  cursor: pointer

.v-center
  display: flex
  align-content: center
  align-items: center


.slide-y-enter-active, .slide-y-leave-active
  transition: all .4s

.slide-y-enter, .slide-y-leave-to
  opacity: 0
  transform: translateY(30px)
