<!DOCTYPE html>
<html lang="en">
  <head>
    <script src='<%= htmlWebpackPlugin.options.base %>/build.js' defer></script>

    <title>Natural Language Processing Lab</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.2.43/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.base %>/style.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
